#heading
{ animation-delay:0s; -moz-animation-delay:0s; -webkit-animation-delay:0s; }

#img-con
{ animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }

#skillset-widget
{ animation-delay:0.7s; -moz-animation-delay:0.7s; -webkit-animation-delay:0.7s; }

#social-widget
{ animation-delay:2.0s; -moz-animation-delay:2.0s; -webkit-animation-delay:2.0s; }

#profile
{ animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }

#education
{ animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }

#resume
{ animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }